<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<link rel="stylesheet" type="text/css" href="css/testdesk.css">
	</head>
	<body ng-controller="ngTestSuites">
		<img class="imgLogo" src="images/logo.png"/>
		<h1>EasyTest</h1>
		<div id="navButtons">
			<ul>
				<li class="{{ suite.geselecteerd() == true ? 'selectedSuite' :  ''  }} " ng-click='selectSuite(suite.naam)' ng-repeat="suite in testSuites">
					{{ suite.naam }}
				</li> 
				<li class='{{ settingsZichtbaarheid("Settings")=== "divZichtbaar" ? "selectedSuite" :  ""  }} ' ng-click='selectSuite("Settings")'>
					Settings
				</li>
			</ul>
		</div>
		<div id="suiteDetails">
			<div class="menuBlock, {{ settingsZichtbaarheid() }}">
				<div class="inlineDiv">
					<button ng-click="runAllTests()">Run all tests </button><BR>
					<h4>Number of tests:</h4><span class="right">{{ testCases.length }}</span><BR>
					<h4>Number of tests pending:</h4><span class="right">{{ getNrStatus("pending") }}</span><BR>
				</div>
				<div class="menuBlock2">
					<h4>Application under test</h4><BR>
					<label class="inlinelabel" for "serverName">Server</label>
					<input ng-model="suiteUrl" type="text" name="txtServerName" /><BR>
					<label class="inlinelabel" for "serverPath">Path</label>
					<input ng-model="suitePath" type="text" name="txtServerPath" /><BR>
					<button ng-click='setSuiteUrl()' class="inlinebutton">Remember</button><BR>
				</div>
			</div>
		<div id="TestCases" class="{{ settingsZichtbaarheid() }}">
		<div ng-repeat="testCase in testCases">
				<div  id=Test1" class="TestCase">
					<div class="lastRunInfo">
						<img ng-click='runTest(getCurrentSuite(), testCase.name, testCase.status)' ng-src="{{ testCase.getStatusIcon() }}" class="testStatus"/>
						<div class="lastTestrun">Date: <a ng-click='showTestLog(getCurrentSuite(), testCase.logFile)'>{{ testCase.lastRun }}</a></div>
						<div class="lastTestruntime">Runtime: {{ makeFriendlyRunTime(testCase.runTime) }}</div>
					</div>
					<div class="rightHalf">
						<div class="testName"><h3>{{ testCase.name }}</h3></div>
						<div class="testDescription"><pre>{{ testCase.description}}</pre></span></div>
					</div>
				</div>
			</div>
		</div>
		<div id="Settings" class='{{ settingsZichtbaarheid("Settings") }}'>
			<h4>Backend</h4><BR>
			<label class="inlinelabel" for "serverName">EasyTest Server</label>
			<input ng-model="backendServer" type="text" name="txtServerName" value="http://localhost"/><BR>

			<label class="inlinelabel" for "portnumber">Poort</label>
			<input ng-model="backendPort" class="klein" type="txtPortNumber" name="portnumber" value="8080"/><BR>
			<BR>

			<h4>Servergegevens</h4><BR>
			<label class="inlinelabel" for "txtDBServer">Database server</label>
			<input ng-model="dbServer" type="text" name="txtDBServer" value="http://localhost"/><BR>
			<label class="inlinelabel" for "txtDBName">Database name</label>
			<input ng-model="dbName" type="text" name="txtDBName" value="http://localhost"/><BR>
			<label class="inlinelabel" for "txtDBUser">Database username</label>
			<input ng-model="dbUser" type="text" name="txtDBUser" value="http://localhost"/><BR>
			<label class="inlinelabel" for "txtDBPassword">Database password</label>
			<input ng-model="dbPassword" type="text" name="txtDBPassword" value="http://localhost"/><BR>
			<label class="inlinelabel" >Connection Status</label>
			<img ng-src="images/{{ dbConnectionStatus }}.png" class="connectionStatus"><BR><BR>
			<button ng-click="saveServerSettings()">Save settings</button><BR>
		</div>
			
		<!--<p id="demo">JavaScript can change HTML content.</p>-->
		</div>
    <script src="js/jquery-2.2.0.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</html>
