/* ul wordt gebruikt voor het tonen van de lijstdoelen
*/

* 	{
	font-family: "Courier new";
	padding: 0px;
	margin: 0px;
	border-color: #ff3333;
	font-size: 12px;
	}
h1 	{
	text-align: left;
	margin-left: 50px;
	color: #ff3300;
	font-size: 6em;
	letter-spacing: 0.5em;
	text-shadow: 2px 2px black;
	font-weight: 930;
	font-family: "Trebuchet MS";
	margin-top: 30px;
	margin-bottom: 10px;
	}
span.error {
	color: red;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FBFBFE;
    background-image: url('../images/texture.jpg');
    background-repeat: repeat;
    font-size: 0.8em;
	}

div#testLog {
	background-color: white;
	margin-right:40px;
	}



div#testLog {
	margin-top: 0px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
	padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	max-height: 490px;
	overflow: auto;
}

image {
	margin-left: auto;
	margin-right: auto;
	display: block;
/*	padding-bottom: 10px;
	max-height: 30px;
	max-width: 30px;
	*/
	max-height: 400px;
	max-width: 650px;
	margin-bottom:10px;
	}
