
* 	{
	font-family: "Lucida Sans Unicode";
	padding: 0px;
	margin: 0px;
	border-color: #ff3333;
	font-size: 11px;
	}
h1 	{
	text-align: left;
	margin-left: 50px;
	color: #ff3300;
	font-size: 8em;
	letter-spacing: 0.5em;
	text-shadow: 2px 2px black;
	font-weight: 930;
	font-family: "Trebuchet MS";
	margin-top: 30px;
	}
h4 	{
	display: inline;
	}
button {
	padding: 5px;
	width: 170px;
	background-color:#ff3333;
	color: white;
	margin-bottom: 5px;
	}	
button.inlinebutton {
	padding:0px;
	margin: 0px;
	height: 2em;
	width: 100px;
	}	
span.right {
	float: right;
}
div.menuBlock {
	min-width: 1200px;
	--min-height: 1600px;
}
div.menuBlock2 {
	min-height: 60px;
	margin-left: 205px;
	}
div.inlineDiv {
	display: block-inline;
	float: left;
	margin: 0px;
	margin-right: 10px;
	}
label.inlinelabel {
	padding-top: 3px;
    display: 	inline-block;
    position: 	relative;
	float:		left;
	width: 		130px;
	}

	
input, textarea, select {
    display: inline;
    width: 300px;
    padding: 0;
    margin: 0;

    /* zorgt ervoor dat de input elementen op dezelfde wijze zijn breedte berekent als de select en textarea elementen */
    box-sizing: border-box;
}

input {
    height: 2em;
	}

input.klein {
    width: 4em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FBFBFE;
    background-image: url('../images/texture.jpg');
    background-repeat: repeat;
    font-size: 0.8em;
	min-width: 950px;
	}

div#suiteDetails {
	background-color: white;
	margin-right:40px;
	}

li {
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-width: 0px;
    border-width: 1px;
	padding: 10px;
	margin-bottom: 0px;
	margin-right: 2px;
	background-color: red;
	color: white;	
	--border-bottom-color: white;
    display: inline;
	}
li:hover {
	color: #ff3300;
	background-color: white;
	}
li.selectedSuite{
	color: #ff3300;
	background-color: white;
	border-bottom-color: white;
	}
	
ul {
	margin-top: 90px;
    margin-bottom: 10px;
    text-align: justify;
	margin-left: 30px;
	}

div {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 50px;
	margin-left: 20px;
}

div#TestCases {
	margin-top: 25px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

div#suiteDetails {
	margin-top: 0px;
    border-radius: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
	padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}
div.divOnzichtbaar {
	display: none;
}

div.TestCase {
	margin: 0px;
	padding: 10px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
	min-height: 70px;
	}

div.TestCase:hover {
	background-color: #FFE5CC;
	}

div.lastRunInfo {
	margin: 0px;
	display: block;    
	float: left;
}
div.lastTestrun {
	margin: 0px;
	padding: 0px;
}
div.lastTestruntime {
	margin: 0px;
	padding: 0px;
	}
div.rightHalf {
	vertical-align: top;
	margin-left: 170px;
	margin-top: 0px;
	}
div.testName {
	vertical-align: top;
	margin: 0px;
	padding-bottom: 5px;
	}
div.testDescription {
	margin: 0px;
	}
image.imgLogo {
	margin-right: 20px;
	float:right;
	max-height: 200px;
	}
	
image.testStatus {
	margin-left: 50px;
	--margin-right: auto;
	display: block;
	padding-bottom: 10px;
	max-height: 30px;
	max-width: 30px;
	}
image.connectionStatus {
	--margin-left: auto;
	--margin-right: auto;
	display: inline;
	max-height: 15px;
	vertical-align:center;
	max-width: 20px;
	}
